.breadcrumb {
  font-family: "Poppins";
  font-weight: 500;

  &-item {
    a {
      text-decoration: none;
    }

    & .active,
    a:hover {
      color: #000000 !important;
    }

    a,
    &::before {
      color: #f49422 !important;
    }
  }
}
