.hero-slider {
  padding: 0;
  margin: 0;
  overflow: hidden;
  height: calc(100vh - 175px);

  &__slide {
    overflow: hidden;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;

    &::after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(124.68deg, #3052ab 10.27%, #ff951a 76.53%);
      background-size: cover;
      background-position: center;
      mix-blend-mode: multiply;
      opacity: 1;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    overflow: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .slick {
    &-slide > div {
      height: 100%;
    }

    &-list {
      width: 100%;
      height: 100%;
    }

    &-track {
      height: 100%;
    }

    &-dots {
      width: 100%;
      position: absolute;
      bottom: 10%;
      padding: 0 10px;
      display: flex !important;
      justify-content: center;
      margin: 0;
      padding: 1rem 0;
      list-style-type: none;

      li {
        margin: 0 0.25rem;
      }

      button {
        display: flex;
        width: 2rem;
        height: 2rem;
        padding: 0;
        border: none;
        border-radius: 100%;
        background-color: transparent;
        border: 2px solid #ffffff;
        text-indent: -9999px;
      }

      li.slick-active button {
        background-color: #f49422;
      }

      @media (max-width: 992px) {
        bottom: 5%;

        button {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      @media (max-width: 680px) {
        bottom: 3%;

        button {
          width: 1rem;
          height: 1rem;
        }
      }
    }

    &-slider {
      height: 100%;
      overflow: hidden;
    }
  }

  &__dialog {
    color: color(secondary);
    font-size: 24px;
    line-height: 32px;
    z-index: 1;
    max-width: 722px;
    width: 100%;

    @media (max-width: 992px) {
      left: 20px;
      bottom: 20px;
      width: calc(100% - 40px);
      font-size: font-size(body);
      line-height: 1;
      overflow: hidden;
      padding: 30px;
    }

    @media (max-width: 680px) {
      font-size: font-size(html);
      padding: 16px;
      padding-top: 15px;
      min-height: 182px;

      .hero-slider__title {
        font-size: font-size(h6-font-size);
      }
    }
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #ffffff;

    @media (max-width: 992px) {
      padding-top: 0;
      font-size: 48px;
      line-height: 1;
      margin-bottom: 18px;
    }

    @media (max-width: 680px) {
      font-size: 32px;
    }
  }

  &__description {
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.04em;
    color: #ffffff;

    @media (max-width: 680px) {
      font-size: 14px;
      line-height: 18px;
      -webkit-line-clamp: 5;
    }
  }
}
