.about {
  padding: 225px 0 80px 0;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 786px;
    bottom: 0;
    height: 1px;
    background-color: rgba(242, 145, 109, 0.3);
    left: 50%;
    transform: translateX(-50%);
  }
  &__figure {
    width: 455px;
    height: 455px;
    border-radius: 24px;
    overflow: hidden;
    margin-right: 50px;
  }
  &__img {
    object-fit: cover;
  }
  &__overtitle {
    color: #f49422;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 0.16em;
  }
  &__title {
    font-size: 36px;
    margin-bottom: 32px;
    letter-spacing: 0.04em;
    color: #38375c;
    line-height: 54px;
    font-weight: 600;
  }
  &__desc {
    letter-spacing: 0.04em;
    color: #333333;
  }
  &__shapes {
    position: absolute;
    &_left {
      z-index: -1;
      top: 30px;
      left: 0;
    }
    &_right {
      right: 0;
      z-index: -1;
      top: 0;
    }
  }
  @media screen and (max-width: 992px) {
    padding: 150px 0 100px 0;
    &:after {
      width: 80%;
      bottom: 0;
    }
    &__figure {
      margin-right: 0;
      width: 100%;
      height: auto;
    }
    &__shapes {
      width: auto;
      &_left {
        bottom: 0;
      }
    }
    @media screen and (max-width: 768px) {
      padding: 100px 0 45px 0;
      &__title {
        margin-bottom: 15px;
      }
      &__shapes {
        display: none;
      }
    }
  }
}
