.contact {
  padding: 100px 0;
  position: relative;
  &__title {
    font-size: 36px;
    line-height: 54px;
    font-weight: 600;
    letter-spacing: 0.04em;
    color: #38375c;
    text-align: center;
  }
  &__label {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #000000;
  }
  &__form {
    max-width: 610px;
  }
  input,
  textarea {
    border-radius: 0;
    border: 1px solid #000000;
    &:focus {
      box-shadow: none;
    }
  }
  &__submit {
    padding: 12px 40px;
    background: #f49422;
    &:hover {
      background: rgb(33, 37, 41);
    }
  }

  &__shapes {
    position: absolute;
    &_left {
      z-index: -1;
      top: -42px;
      left: 0;
    }
    &_right {
      right: 0;
      z-index: -1;
      bottom: -46px;
    }
  }

  &__card {
    display: flex;
    flex-direction: row;
    &-icon {
      font-size: 80px;
    }
    &-address {
      line-height: 28px;
    }
    &-phone {
      display: block;

      a {
        text-decoration: none;
        color: #333333;
        &:hover {
          color: #f49422;
        }
      }
    }
  }

  &__main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 44px;
    flex-wrap: wrap;
    &-item {
      display: flex;
      margin-bottom: 16px;
      padding-right: 16px;
      &_size {
        img {
          width: 36px !important;
          height: 36px !important;
        }
      }
    }
    &-title {
      display: block;
      width: 100%;
      text-align: center;
      font-size: 24px;
      color: #333333;
      margin-bottom: 8px;
    }
    img {
      width: 50px;
      height: 50px;
    }
    a {
      margin-left: 14px;
      margin-top: 5px;
      text-decoration: none;
      color: #333333;
      font-size: 28px;
      &:hover {
        color: #f49422;
      }
    }
  }

  @media screen and (max-width: 992px) {
    padding: 15px 0 40px;
    &__shapes {
      width: auto;
      &_left {
        bottom: 0;
        height: 60%;
      }

      &_right {
        height: 100%;
      }
    }
  }
  @media screen and (max-width: 768px) {
    &__shapes {
      display: none;
    }
    &__title {
      text-align: left;
      margin-left: 16px;
    }
    &__main {
      justify-content: left;
      padding: 0 8px;
      margin-bottom: 16px;
      &-title {
        font-size: 18px;
      }
      img {
        width: 40px;
        height: 40px;
      }
      a {
        font-size: 22px;
      }
    }

    &__card {
      margin-bottom: 24px;
      &-icon {
        font-size: 48px;
        padding-left: 4px;
      }
    }
  }
}
