.footer {
  background: linear-gradient(
    100.08deg,
    #f46e22 1.18%,
    #813a59 37.23%,
    #2e2d62 61.14%
  );

  &__main {
    padding: 105px 0 84px 0;
  }

  &__widget {
    margin-bottom: 40px;
  }

  &__widget {
    height: 100%;

    &-social {
      height: 100%;
      text-align: center;
    }

    &-list {
      padding: 0;
      margin: 0;
    }

    &-items {
      list-style: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.16em;
      color: #ffffff;
      padding-bottom: 16px;
      position: relative;

      &_border::after {
        content: "";
        position: absolute;
        width: calc(100% - 30px);
        height: 1px;
        bottom: 0;
        right: 0;
        border-bottom: 1px solid rgba(#fff, 0.2);
      }
      &-phone {
        display: block;
        margin-left: 30px;
        a:hover {
          color: #f49422;
        }
      }
    }

    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.16em;
      color: #f49422;
      margin-bottom: 26px;
    }
  }

  a:focus,
  a:hover {
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  &__copyright {
    border-top: 1px solid #d9dbed;
    padding: 18px 0 15px;

    &-text {
      text-align: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      opacity: 0.5;
      letter-spacing: 0.04em;
      color: #ffffff;
    }
  }

  a:focus {
    outline: 0;
  }

  &__logo {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }
  @media screen and (max-width: 768px) {
    &__main {
      padding: 30px 0 0 0;
    }
    &__logo {
      margin: 0;
      margin-bottom: 10px;
      width: 140px;
    }
    &__widget {
      &-title {
        margin-bottom: 16px;
      }
      &-social {
        text-align: left;
      }
      &-items {
        letter-spacing: 1px;
        padding-bottom: 8px;
      }
    }
  }
}
