.footer {
  background-image: linear-gradient(#f46e22, #813a59, #2e2d62);

  &__main {
    padding: 105px 0 118px 0;
  }

  &__widget {
    margin-bottom: 40px;
  }

  &__widget {
    height: 100%;

    &-social {
      height: 100%;
      border-right: 1px solid #dfdfdf;
      // margin-right: 152px;
      text-align: center;
    }

    &-list {
      padding: 0;
      margin: 0;
    }

    &-items {
      list-style: none;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: 0.16em;
      color: #d9dbed;
      margin-bottom: 16px;
    }

    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.16em;
      color: #f2916d;
      margin-bottom: 26px;
    }
  }

  a:focus,
  a:hover {
    text-decoration: none;
    -webkit-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    transition: 0.3s ease;
  }

  &__copyright {
    border-top: 1px solid #d9dbed;
    padding: 18px 0 15px;

    &-text {
      text-align: center;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      /* identical to box height */

      letter-spacing: 0.04em;

      color: #ffffff;
    }
  }

  a:focus {
    outline: 0;
  }

  &__logo {
    width: 160px;
    margin: 0 auto;
    margin-bottom: 10px;
    img {
      width: 100%;
    }
  }

  a {
    color: #d9dbed;
    text-decoration: none;
  }
}
